# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/
cover/
coverage.xml
nosetests.xml
*.cover
*.py,cover
*.log

# Translations
*.mo
*.pot

# Django stuff
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff
instance/
.webassets-cache

# Scrapy stuff
.scrapy

# Sphinx documentation
_docs/
docs/_build/
docs/api/generated/

# PyBuilder
target/

# Jupyter
.ipynb_checkpoints

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# pyenv
.python-version

# pipenv
Pipfile.lock

# PEP 582
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath
*.sage.py

# IDEs
.vscode/
.idea/
.devcontainer/
*.code-workspace

# Type checker caches
.mypy_cache/
.dmypy.json
dmypy.json
.pytype/

# Static analysis
dmypy.json
.pyre/

# Cython
cython_debug/

# Local
test_*
!/tests/test_*.py
tests/test_attack_scripts.py

# Downloaded datasets
# Anchor to repo root so we don't ignore package submodules named "data"
/data/
